@import "./fonts.css";

/* --color constants-- */

:root{
    --color-main: #F2F2F2;
    --color-slider: #F06C64;
    --color-main-text: #666D89;
    --color-header-text: #FFFFFF;
    --color-header: #2D303A;
    --color-header-bottom: #323746;
    --color-link-arrows: #CA4549; 
    --color-slider-bottom: #ea676b;
}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: Lato, Verdana, sans-serif;
    font-size: 1.6rem;
    transition: all 0.5s;
}

.content-wrapper {
    max-width: 1020px;
    margin: 0 auto;
}

/* --start header-- */

.header {
    padding: 0 40px 0 40px;
    width: 100%;
    height: 95px;
    background: var(--color-header);
    border-bottom: 6px solid var(--color-header-bottom);
}

.header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    color: var(--color-header-text);
}

.header__logo {
    font-family: 'Lato-Bold';
    font-size: 2.4rem;
    font-style: normal;
    display: inline-block;
    position: relative;
    top: 34px;
    line-height: 6px;
    letter-spacing: -0.4px;
}

.header__asterisk {
    color: var(--color-slider);
    padding-left: 2px;
}

nav {
    position:relative; 
    right: 27px;
    top: 3px;
  }

.navigation{
    position: relative;
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: var(--color-header-text);
    top: 40px;
}

.navigation__item {
    padding: 0 10px 0 10px;
}

.navigation__link {
    font-size: 1.2rem;
    color: var(--color-header-text);
    font-family: "Lato-Bold";
    text-decoration: none;
}

.navigation__link_active {
    font-size: 1.2rem;
    color: var(--color-slider);
    font-family: "Lato-Bold";   
    text-decoration: none;
}

.navigation__link:hover {
    color: var(--color-slider);
    cursor: pointer;
}

.navigation__link:before {
    position: relative;
    right: 10px;
    content: ".";
    color: #464a5d;
    bottom: 4px;
  }
  
  .navigation__item:last-child::after {
    content: none;
  }

  /*  -- end header --  */

/* --start phones block-- */
.slider {
    width: 100%;
    background: var(--color-slider);
    height: 600px; 
    border-bottom: 6px solid var(--color-slider-bottom);
}

.slider .slider__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 600px;
    position: relative;
}

.phones-wrapper {
    /* width: 100%; */
    width: 800px;
    display: flex;
    justify-content: space-between;
    /* position: relative; */
}

.phone-vertical, 
.phone-horisontal {
    position: relative;
    width: 484px;
    height: 240px;
}

.phone-horisontal {
    left: 9.9%;
    top: 42.4%;
}

.phone-vertical {
    top: 83px;
    left: 3px;
}

.phone-vertical__base,
.phone__base {
    background-image: url(./assets/img/IphoneBase.png);
    height: 459px;
    width: 215px;
    background-repeat: no-repeat;
    position: relative;
}

.phone__base {
    transform: rotate(180deg);

}

.phone__content {
    background-image: url(./assets/img/ScreenHor.png);
    width: 334px;
    height: 189px;
    position: relative; 
    background-position: -125px -121px;
    top: 137px;
    left: -59px;
    transform: rotate(-90deg) scale(1, -1);
}

.phone-vertical__content{
    background-image: url(./assets/img/ScreenVert.png);
    width: 188px;
    height: 334px;
    background-position: -14px -136px;
    position: relative; 
    top: 65px;
    left: 14px;
}

.phone__shadow {
    background-image: url(./assets/img/Shadow.png);
    width: 240px;
    height: 483px;
    align-items: center;
    /* opacity: 0.15; */
}

.phone-horisontal {
    transform: rotate(90deg);
}

.phone-horisontal>.phone__shadow {
    transform: scale(1, -1);

}

.phone_shadow:last-child {
    transform: rotate(90deg);
}

.slider__left-arrow {
    position: relative;
    width: 94px;
    height: 100%;
    /* background: chartreuse; */
}
.slider__right-arrow {
    position: relative;
    width: 94px;
    height: 100%;
    /* background: chartreuse; */
    
}

.left-arrow, .right-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.left-arrow:hover {
    cursor: pointer;
    opacity: 0.3;
}

.right-arrow:hover {
    cursor: pointer;
    opacity: 0.3;
}

/* --end phones block--*/

/* -- start services block-- */



/* -- end services block-- */
