@import "./fonts.css";

/* --color constants-- */

:root{
    --color-main: #F2F2F2;
    --color-slider: #F06C64;
    --color-main-text: #666D89;
    --color-header-text: #FFFFFF;
    --color-header: #2D303A;
    --color-header-bottom: #323746;
    --color-link-arrows: #CA4549; 
    --color-slider-bottom: #ea676b;
    --color-header-dots: #464a5d;
    --color-border-tag-active: #c5c5c5;
    --color-text-tag-active: #dedede;
    --color-text-tag: #767e9e;
}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: Lato, Verdana, sans-serif;
    font-size: 1.6rem;
    transition: all 0.5s;
}

.content-wrapper {
    max-width: 1020px;
    margin: 0 auto;
}

.wrapper {
    max-width: 940px;
    margin: 0 auto;
}

/* start portfolio block */

.portfolio {
    height: 870px;
    background: var(--color-header);
    padding-top: 69px;
    border-bottom: 6px solid var(--color-header-bottom);
    letter-spacing: -0.22px;
}

h2.portfolio__title {
    font-family: "Lato-Black";
    font-size: 3rem;
    line-height: 18px;
    color: var(--color-main-text);
}

.portfolio__text {
    font-family: "Lato-Regular";
    font-size: 18px;
    line-height: 26px;
    color: var(--color-main-text);
}

.portfolio__tag {
    color: var(--color-text-tag);
    border: 1px solid var(--color-main-text);
    border-radius: 5px;
    display: inline-block;
    font-family: "Lato-Regular";
    font-size: 12px;
    line-height: 22px;
    height: 22px;
    padding: 0 7px 21px 7px;
    margin-right: 7px;
}

.portfolio__tag.active {
    color: var(--color-text-tag-active);
    border: 1px solid var(--color-border-tag-active);
}

.portfolio__tags li:first-child {
    margin-right: 7px;
    padding-right: 6px;
    letter-spacing: 0.1px;
}

.portfolio__tags li:nth-child(2) {
    word-spacing: 0.7px;
}

.portfolio__tags li:nth-child(3) {
    word-spacing: 1.5px;
    padding-right: 6px;
    padding-left: 6px;
}

.portfolio__tags li:last-child {
    letter-spacing: 0.01rem;
    padding-right: 5px;
    padding-left: 5px;
}

.portfolio__tags li:hover {
    cursor: pointer;
    color: var(--color-text-tag-active);
    border: 1px solid var(--color-border-tag-active);
}

.portfolio__text {
    padding-top: 30px;
}

.portfolio__tags {
    padding-top: 12px;
}

.portfolio__images-wrapper {
    padding-top: 18px;
}

.layout-4-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.layout-4-column img:nth-child(n+13) {
    display: none;
}

/* end portfolio block */

/* start about-us block */

.about-us {
    height: 734px;
    padding-top: 68px;
    background: var(--color-main);
    border-bottom: 6px solid var(--color-header-text);
}

h2.about-us__title {
    font-family: "Lato-Black";
    font-size: 3rem;
    line-height: 18px;
    color: var(--color-main-text);
    letter-spacing: -0.2px;
}

.about-us__text {
    font-family: "Lato-Light";
    font-size: 18px;
    line-height: 30px;
    color: var(--color-main-text);
    margin-top: 27px;
    letter-spacing: -0.07px;
    word-spacing: 0.4px;
}

.about-us__text::first-line {
    letter-spacing: 0.15px;
    word-spacing: 0px;
}

.person__wrapper {
    margin-top: 46px;
}

.layout-3-column {
    display: flex;
    color: var(--color-main-text);
}

.layout-3-column div:first-child {
    padding-right: 19px;
}
.layout-3-column div:nth-child(2) {
    padding-right: 21px;
}

h3.person__name {
    padding-top: 15px;
    font-family: "Lato-Black";
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.2px;
}

.person__text {
    padding-top: 10px;
    font-family: "Lato-Regular";
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    letter-spacing: -0.001px;
    text-align: justify;
}

.person__text:nth-of-type(1):first-line{
    letter-spacing: 0.11px;
}

.person__wrapper:first-child .person__text:first-line{
    letter-spacing: -0.1px;
}

.person__social-icons {
    display: flex;
    padding-top: 24px;
}

.person__social-icon {
    margin-right: 8px;
}

.social-icon-svg {
    filter: invert(48%) sepia(6%) saturate(1604%) hue-rotate(191deg) brightness(86%) contrast(88%);
}

.social-icon-svg:hover {
    cursor: pointer;
    filter: invert(42%) sepia(79%) saturate(1422%) hue-rotate(331deg) brightness(127%) contrast(104%);
}

/* end about-us block */